<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923603746660-8vek241vlkbvknlfr135qc7vq1nhsj7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923603746660-8vek241vlkbvknlfr135qc7vq1nhsj7m</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Dig4kYzIP94l0XbAbe5Dh-uGG1V85ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>923603746660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mystique.com.MyFeedback</string>
	<key>PROJECT_ID</key>
	<string>myfeedback-44cef</string>
	<key>STORAGE_BUCKET</key>
	<string>myfeedback-44cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923603746660:ios:8070a2ff467b876a67c471</string>
	<key>DATABASE_URL</key>
	<string>https://myfeedback-44cef.firebaseio.com</string>
</dict>
</plist>